<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>비워 모두, BEER MODE!</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link href="/static/css/list.css" rel="stylesheet">
    <link href="/static/css/beerimg.css" rel="stylesheet">
    <style>

        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Oleo+Script+Swash+Caps:wght@400;700&display=swap');
        
        a {font-family:Arial, Helvetica, sans-serif;}


                /* @media screen and (max-width:700px) {
                } */

        .foot {
            text-align: center;
            align-items: center;
            margin: auto;
            font-size: 10px;
            }
        .navbar{
            /* position: fixed; */
            z-index: 20;
        }

    </style>
</head>
  <body>
    <%-include("navbar.ejs")%>
    
    <nav class="select">
        <ul class="select__wrapper">
            <li onclick="beer_change(this, 'kr');">
                <button class="select__icon">&#9733;</button>
                <button class="select__menu">국내 맥주</button>
                <button class="select__mobile bold">국내 맥주</button>
            </li>
            <li  onclick="beer_change(this, 'ge');">
                <button class="select__icon">&#9733;</button>
                <button class="select__menu">수입 맥주</button>
                <button class="select__mobile bold">수입 맥주</button>
            </li>
            <ol class="scrollbar">
                <li  onclick="beer_change(this, 'ge');">
                    <button class="select__icon">&#9734;</button>
                    <button class="select__country">독일</button>
                    <button class="select__mobile">독일</button>
                </li>
                <li onclick="beer_change(this, 'che');">
                    <button class="select__icon">&#9734;</button>
                    <button class="select__country">체코</button>
                    <button class="select__mobile">체코</button>
                </li>
                <li  onclick="beer_change(this, 'belgi');">
                    <button class="select__icon">&#9734;</button>
                    <button class="select__country">벨기에</button>
                    <button class="select__mobile">벨기에</button>
                </li>
                <li onclick="beer_change(this, 'neder');">
                    <button class="select__icon">&#9734;</button>
                    <button class="select__country">네덜란드</button>
                    <button class="select__mobile">네덜란드</button>
                </li>
                <li onclick="beer_change(this, 'Island');">
                    <button class="select__icon">&#9734;</button>
                    <button class="select__country">아일랜드</button>
                    <button class="select__mobile">아일랜드</button>
                </li>
                <li onclick="beer_change(this, 'eng');">
                    <button class="select__icon">&#9734;</button>
                    <button class="select__country">영국</button>
                    <button class="select__mobile">영국</button>
                </li>
                <li onclick="beer_change(this, 'den');">
                    <button class="select__icon">&#9734;</button>
                    <button class="select__country">덴마크</button>
                    <button class="select__mobile">덴마크</button>
                </li>
                <li onclick="beer_change(this, 'rus');">
                    <button class="select__icon">&#9734;</button>
                    <button class="select__country">러시아</button>
                    <button class="select__mobile">러시아</button>
                </li>
                <li onclick="beer_change(this, 'swis');">
                    <button class="select__icon">&#9734;</button>
                    <button class="select__country">스위스</button>
                    <button class="select__mobile">스위스</button>
                </li>
                <li onclick="beer_change(this, 'spain');">
                    <button class="select__icon">&#9734;</button>
                    <button class="select__country">스페인</button>
                    <button class="select__mobile">스페인</button>
                </li>
                <li onclick="beer_change(this, 'austri');">
                    <button class="select__icon">&#9734;</button>
                    <button class="select__country">오스트리아</button>
                    <button class="select__mobile">오스트리아</button>
                </li>
                <li  onclick="beer_change(this, 'ice');">
                    <button class="select__icon">&#9734;</button>
                    <button class="select__country">아이슬란드</button>
                    <button class="select__mobile">아이슬란드</button>
                </li>
                <li onclick="beer_change(this, 'ital');">
                    <button class="select__icon">&#9734;</button>
                    <button class="select__country">이탈리아</button>
                    <button class="select__mobile">이탈리아</button>
                </li>
                <li onclick="beer_change(this, 'portu');">
                    <button class="select__icon">&#9734;</button>
                    <button class="select__country">포르투갈</button>
                    <button class="select__mobile">포르투갈</button>
                </li>
                <li onclick="beer_change(this, 'poland');">
                    <button class="select__icon">&#9734;</button>
                    <button class="select__country">폴란드</button>
                    <button class="select__mobile">폴란드</button>
                </li>
                <li  onclick="beer_change(this, 'fran');">
                    <button class="select__icon">&#9734;</button>
                    <button class="select__country">프랑스</button>
                    <button class="select__mobile">프랑스</button>
                </li>
                <li onclick="beer_change(this, 'greec');">
                    <button class="select__icon">&#9734;</button>
                    <button class="select__country">그리스</button>
                    <button class="select__mobile">그리스</button>
                </li>
                <li  onclick="beer_change(this, 'croa');">
                    <button class="select__icon">&#9734;</button>
                    <button class="select__country">크로아티아</button>
                    <button class="select__mobile">크로아티아</button>
                </li>
                <li  onclick="beer_change(this, 'norw');">
                    <button class="select__icon">&#9734;</button>
                    <button class="select__country">노르웨이</button>
                    <button class="select__mobile">노르웨이</button>
                </li>
                <li  onclick="beer_change(this, 'pinlan');">
                    <button class="select__icon">&#9734;</button>
                    <button class="select__country">핀란드</button>
                    <button class="select__mobile">핀란드</button>
                </li>
                <li  onclick="beer_change(this, 'swede');">
                    <button class="select__icon">&#9734;</button>
                    <button class="select__country">스웨덴</button>
                    <button class="select__mobile">스웨덴</button>
                </li>
                <li onclick="beer_change(this, 'ameri');">
                    <button class="select__icon">&#9734;</button>
                    <button class="select__country">미국</button>
                    <button class="select__mobile">미국</button>
                </li>
                <li onclick="beer_change(this, 'cana');">
                    <button class="select__icon">&#9734;</button>
                    <button class="select__country">캐나다</button>
                    <button class="select__mobile">캐나다</button>
                </li>
                <li onclick="beer_change(this, 'mexi');">
                    <button class="select__icon">&#9734;</button>
                    <button class="select__country">멕시코</button>
                    <button class="select__mobile">멕시코</button>
                </li>
                <li onclick="beer_change(this, 'egy');">
                    <button class="select__icon">&#9734;</button>
                    <button class="select__country">이집트</button>
                    <button class="select__mobile">이집트</button>
                </li>
                <li onclick="beer_change(this, 'north');">
                    <button class="select__icon">&#9734;</button>
                    <button class="select__country">북한</button>
                    <button class="select__mobile">북한</button>
                </li>
                <li onclick="beer_change(this, 'china');">
                    <button class="select__icon">&#9734;</button>
                    <button class="select__country">중국</button>
                    <button class="select__mobile">중국</button>
                </li>
                <li onclick="beer_change(this, 'japan');">
                    <button class="select__icon">&#9734;</button>
                    <button class="select__country">일본</button>
                    <button class="select__mobile">일본</button>
                </li>
                <li  onclick="beer_change(this, 'taiwan');">
                    <button class="select__icon">&#9734;</button>
                    <button class="select__country">대만</button>
                    <button class="select__mobile">대만</button>
                </li>
                <li onclick="beer_change(this, 'southasia');">
                    <button class="select__icon">&#9734;</button>
                    <button class="select__country">남아시아</button>
                    <button class="select__mobile">남아시아</button>
                </li>
                <li onclick="beer_change(this, 'eastasia');">
                    <button class="select__icon">&#9734;</button>
                    <button class="select__country">동남아시아</button>
                    <button class="select__mobile">동남아시아</button>
                </li>
                <li onclick="beer_change(this, 'ase');">
                    <button class="select__icon">&#9734;</button>
                    <button class="select__country">오세아니아</button>
                    <button class="select__mobile">오세아니아</button>
                </li>
            </ol>
        </ul>
    </nav>

    <section class="beer">
        <div class="beer__wrapper kr">
            <%-include("beer_item/beer_kr.ejs")%>
        </div>
        <div class="beer__wrapper ge d-none">
            <%-include("beer_item/beer_ge.ejs")%>
        </div>
        <div class="beer__wrapper che d-none">
            <%-include("beer_item/beer_che.ejs")%>
        </div>
        <div class="beer__wrapper belgi d-none">
            <%-include("beer_item/beer_belgi.ejs")%>
        </div>
        <div class="beer__wrapper neder d-none">
            <%-include("beer_item/beer_neder.ejs")%>
        </div>
        <div class="beer__wrapper Island d-none">
            <%-include("beer_item/beer_Island.ejs")%>
        </div>
        <div class="beer__wrapper eng d-none">
            <%-include("beer_item/beer_eng.ejs")%>
        </div>
        <div class="beer__wrapper den d-none">
            <%-include("beer_item/beer_den.ejs")%>
        </div>
        <div class="beer__wrapper rus d-none">
            <%-include("beer_item/beer_rus.ejs")%>
        </div>
        <div class="beer__wrapper swis d-none">
            <%-include("beer_item/beer_swis.ejs")%>
        </div>
        <div class="beer__wrapper spain d-none">
            <%-include("beer_item/beer_spain.ejs")%>
        </div>
        <div class="beer__wrapper austri d-none">
            <%-include("beer_item/beer_austri.ejs")%>
        </div>
        <div class="beer__wrapper ice d-none">
            <%-include("beer_item/beer_ice.ejs")%>
        </div>
        <div class="beer__wrapper ital d-none">
            <%-include("beer_item/beer_ital.ejs")%>
        </div>
        <div class="beer__wrapper portu d-none">
            <%-include("beer_item/beer_portu.ejs")%>
        </div>
        <div class="beer__wrapper poland d-none">
            <%-include("beer_item/beer_poland.ejs")%>
        </div>
        <div class="beer__wrapper fran d-none">
            <%-include("beer_item/beer_fran.ejs")%>
        </div>
        <div class="beer__wrapper greec d-none">
            <%-include("beer_item/beer_greec.ejs")%>
        </div>
        <div class="beer__wrapper croa d-none">
            <%-include("beer_item/beer_croa.ejs")%>
        </div>
        <div class="beer__wrapper norw d-none">
            <%-include("beer_item/beer_norw.ejs")%>
        </div>
        <div class="beer__wrapper pinlan d-none">
            <%-include("beer_item/beer_pinlan.ejs")%>
        </div>
        <div class="beer__wrapper swede d-none">
            <%-include("beer_item/beer_swede.ejs")%>
        </div>
        <div class="beer__wrapper ameri d-none">
            <%-include("beer_item/beer_ameri.ejs")%>
        </div>
        <div class="beer__wrapper cana d-none">
            <%-include("beer_item/beer_cana.ejs")%>
        </div>
        <div class="beer__wrapper mexi d-none">
            <%-include("beer_item/beer_mexi.ejs")%>
        </div>
        <div class="beer__wrapper egy d-none">
            <%-include("beer_item/beer_egy.ejs")%>
        </div>
        <div class="beer__wrapper north d-none">
            <%-include("beer_item/beer_north.ejs")%>
        </div>
        <div class="beer__wrapper china d-none">
            <%-include("beer_item/beer_china.ejs")%>
        </div>
        <div class="beer__wrapper japan d-none">
            <%-include("beer_item/beer_japan.ejs")%>
        </div>
        <div class="beer__wrapper taiwan d-none">
            <%-include("beer_item/beer_taiwan.ejs")%>
        </div>
        <div class="beer__wrapper southasia d-none">
            <%-include("beer_item/beer_southasia.ejs")%>
        </div>
        <div class="beer__wrapper eastasia d-none">
            <%-include("beer_item/beer_eastasia.ejs")%>
        </div>
        <div class="beer__wrapper ase d-none">
            <%-include("beer_item/beer_ase.ejs")%>
        </div>
    </section>
      <br>
      <br>
      <br>
      <div class="foot"> ©2022 KDT 2nd Project / 비워 모두, BEER MODE </div>
      <br>

      <script> 
        function beer_change(obj, country){
            // if(country == "kr"){
            //     console.log(country);
            // } else if(country == "ge") {
            //     $(".beer__wrapper").addClass("d-none");
            //     $(".beer__wrapper.ge").removeClass("d-none");
            // }

            $(".beer__wrapper").addClass("d-none");
            $(".beer__wrapper."+country).removeClass("d-none");

            $(".select__wrapper li").removeClass("active");
            $(obj).addClass("active");
        }   
        
        $(".clickinfo").click(function(){
            // console.log(this);
            var informationn = $(this).next("p");
            if($(informationn).hasClass("d-none")) {
                $(informationn).removeClass("d-none");
            } else {
                $(informationn).addClass("d-none");
            }
        })

        var lastWidth = $(window).width();

        $( window ).resize( function() {
            console.log(lastWidth, $(window).width())
            if($(window).width() >= 600 && lastWidth < 600) {
                $(".beer__text--infor").removeClass("d-none");
            } else if ($(window).width() <= 600 && lastWidth > 600) {
                $(".beer__text--infor").addClass("d-none");
            }

            lastWidth = $(window).width();
        });


        $(document).ready(function(){
            if(lastWidth > 600) {
                $(".beer__text--infor").removeClass("d-none");
            } else if (lastWidth < 600) {
                $(".beer__text--infor").addClass("d-none");
            }
        })


      </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>